

.contact-container {
    max-width: 800px;
    margin: 100px auto;
}

.contact-header {
    text-align: center;
    margin-bottom: 30px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    width: 45%;
}

.contact-form {
    width: 45%;
}

.form-group {
    margin-bottom: 20px;
}
