<nav class="navbar navbar-expand-lg navbar-light bg-primary-subtle fixed-top mb-5">
    <div class="container-fluid">
      <!-- Logo and brand name -->
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-h-square fa-bounce" style="font-size: 25px;" aria-hidden="true"></i>ospital Management System
      </a>
  
      <!-- Hamburger menu button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navigation links -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/physicians">Physicians</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <button class="btn btn-primary mx-2" routerLink="/login">Login</button>
              
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
