<app-patient-nav/>

<div class="container mt-5">
    <h2 class="text-center mb-4">Upcoming Appointments</h2>
  
    <div class="card-deck">
      <div *ngFor="let appointment of appointments" class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Appointment ID: {{ appointment.appointmentid }}</h5>
          <p class="card-text">
            <strong>Appointment Date and Time:</strong> {{ appointment.appointmentDateTime }}
          </p>
          <p class="card-text">
            <strong>Physician ID:</strong> {{ appointment.physician }}
          </p>
          <p class="card-text">
            <strong>Nurse ID:</strong> {{ appointment.prepnurse }}
          </p>
        </div>
        
      </div>
    </div>
  </div>
  