<!-- admin-home.component.html -->

<div class="container mt-5">
    <h2 class="text-center mb-4">Welcome to Hospital Management System (Admin)</h2>
  
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/admin/patients" class="text-decoration-none">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Manage Patients</h5>
              <p class="card-text">View and manage patient information.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-md-4">
        <a routerLink="/admin/physicians" class="text-decoration-none">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Manage Physicians</h5>
              <p class="card-text">Add, update physician details.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-md-4">
        <a routerLink="/admin/procedures" class="text-decoration-none">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Manage Procedures</h5>
              <p class="card-text">View and manage medical procedures.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-4">
        <a routerLink="/admin/department" class="text-decoration-none">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Manage Departments</h5>
              <p class="card-text">Add, update department details.</p>
            </div>
          </div>
        </a>
      </div>
  
      <div class="col-md-4">
        <a routerLink="/admin/appointments" class="text-decoration-none">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h5 class="card-title">Manage Appointments</h5>
              <p class="card-text">View and manage appointments for physicians, patients, and nurses.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  