<app-physician-nav></app-physician-nav>



<div class="home-container">
    <header>
      <h1>Welcome to the Hospital Management System</h1>
    </header>
  
    <main>
      <section class="features">
        <div class="feature">
          <h2>Physician Module</h2>
          <p>Access patient records, schedule appointments, and manage medical data.</p>
        </div>
  
        <div class="feature">
          <h2>Patient Module</h2>
          <p>View medical history, book appointments, and communicate with healthcare providers.</p>
        </div>
  
        
      </section>
    </main>
  
    <footer>
      <p>&copy; 2023 Hospital Management System</p>
    </footer>
  </div>

   