<app-nav-bar ></app-nav-bar>

<div class="container" style="margin-top: 80px;">
    <h2 class="text-center mb-4">About Us</h2>
  
    <div class="row">
      <div class="col-md-6">
        <img src="https://th.bing.com/th/id/OIP.p7l4P4TxlFRUlLd1t5rksAHaF3?pid=ImgDet&w=192&h=152&c=7&dpr=1.5" width="130%" height="200%" alt="Hospital Image" class="img-fluid">
      </div>
  
      <div class="col-md-6">
        <p>Welcome to our Hospital Management System!</p>
  
        <p>
          At our hospital, we are committed to providing exceptional healthcare services to our community.
          Our team of dedicated professionals, including physicians, nurses, and administrative staff,
          works tirelessly to ensure the well-being of our patients.
        </p>
  
        <p>
          Our state-of-the-art facilities are equipped with the latest technology to offer accurate diagnoses
          and effective treatments. We prioritize patient care, safety, and comfort in every aspect of our services.
        </p>
  
        <p>
          Whether you are a patient, a physician, or part of our administrative team, we strive to create a
          positive and supportive environment for everyone involved in our healthcare community.
        </p>
  
        <p>Thank you for choosing us for your healthcare needs.</p>
      </div>
    </div>
  </div>
  