<app-physician-nav>
    
</app-physician-nav>
<div class="patients-container">
    <h2>Physician Patients</h2>
  
    <ul>
      <li *ngFor="let patient of patients" class="patient-item">
        <div class="patient-info">
          <div class="patient-name">{{ patient.name }}</div>
          <div class="patient-details">
            <p>{{ patient.address }}</p>
            <p>{{ patient.phone }}</p>
            <p>Insurance ID: {{ patient.insuranceid }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  